
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/Default/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Sayfaya Dön</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Feature/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Feature</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/About/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">About</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Skill/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Skills</span>
			</a>
		</li>



	</ul>
</nav>
